<!DOCTYPE html>
<html>
  <head>
    <!-- Site info -->

    <meta charset='utf-8'>
    <title>date-fns - modern JavaScript date utility library</title>
    <meta name='description' content='date-fns provides the most comprehensive yet simple and consistent toolset for manipulating JavaScript dates in a browser & Node.js.'>

    <!-- Favicons -->

    <link rel='apple-touch-icon' sizes='57x57' href='<%= staticPath('/apple-icon-57x57.png') %>'>
    <link rel='apple-touch-icon' sizes='60x60' href='<%= staticPath('/apple-icon-60x60.png') %>'>
    <link rel='apple-touch-icon' sizes='72x72' href='<%= staticPath('/apple-icon-72x72.png') %>'>
    <link rel='apple-touch-icon' sizes='76x76' href='<%= staticPath('/apple-icon-76x76.png') %>'>
    <link rel='apple-touch-icon' sizes='114x114' href='<%= staticPath('/apple-icon-114x114.png') %>'>
    <link rel='apple-touch-icon' sizes='120x120' href='<%= staticPath('/apple-icon-120x120.png') %>'>
    <link rel='apple-touch-icon' sizes='144x144' href='<%= staticPath('/apple-icon-144x144.png') %>'>
    <link rel='apple-touch-icon' sizes='152x152' href='<%= staticPath('/apple-icon-152x152.png') %>'>
    <link rel='apple-touch-icon' sizes='180x180' href='<%= staticPath('/apple-icon-180x180.png') %>'>
    <link rel='icon' type='image/png' sizes='16x16' href='<%= staticPath('/favicon-16x16.png') %>'>
    <link rel='icon' type='image/png' sizes='32x32' href='<%= staticPath('/favicon-32x32.png') %>'>
    <link rel='icon' type='image/png' sizes='96x96' href='<%= staticPath('/favicon-96x96.png') %>'>
    <link rel='icon' type='image/png' sizes='192x192' href='<%= staticPath('/android-icon-192x192.png') %>'>
    <link rel='manifest' href='<%= staticPath('/manifest.json') %>'>
    <meta name='msapplication-TileColor' content='#ffffff'>
    <meta name='msapplication-TileImage' content='<%= staticPath('/ms-icon-144x144.png') %>'>
    <meta name='theme-color' content='#ffffff'>

    <!-- Social meta tags -->

    <!-- Twitter -->
    <meta name='twitter:card' content='summary_large_image'>
    <meta name="twitter:site" content='@date_fns'>
    <meta name='twitter:creator' content='@kossnocorp'>
    <meta name='twitter:title' content='Modern JavaScript Date Utility Library'>
    <meta name='twitter:description' content='date-fns provides the most comprehensive yet simple and consistent toolset for manipulating JavaScript dates in a browser & Node.js.'>
    <meta name='twitter:image' content='http://cdn.date-fns.org/card.png'>

    <!-- Facebook -->
    <meta property='og:type' content='website'>
    <meta property='og:title' content='Modern JavaScript Date Utility Library'>
    <meta property='og:description' content='date-fns provides the most comprehensive yet simple and consistent toolset for manipulating JavaScript dates in a browser & Node.js.'>
    <meta property='og:image' content='http://cdn.date-fns.org/card.png'>
    <meta property='og:image:width' content='600'>
    <meta property='og:image:height' content='330'>

    <% if (env == 'production') { %>
      <!-- Analytics -->

      <script type="text/javascript">
        !function (){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function (t){return function (){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function (t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
        analytics.load("Vez9Ih4UcJ2p8kSVLNqumkCqhuk2bMg3");
        analytics.page()
        }}();
      </script>
    <% } %>
  </head>
  <body>
    <div id='canvas'></div>
    <script src='<%= entryPath('app') %>'></script>

    <% if (env == 'production') { %>
      <!-- Ask User -->
      <script>window.askUser={show:function(){window.askUser.triggered=!0}}</script>
      <script async src='https://askuser.xyz/widget.js' data-site-id='-Ky0da7VyG5MkbK_S6_r'></script>
    <% } %>
  </body>
</html>
